<!DOCTYPE html>
<html lang="en">
<head>
	<title>College Bazaar Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png"  href="{{ url_for('static', filename='images/icons/faviconMain.svg') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">

<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/wahidlogin2.css') }}">

<!--===============================================================================================-->
<!---->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="#">
					<span class="login100-form-title p-b-26">
						Change your password
					</span>
					<span class="login100-form-title p-b-48">
						<!-- <i class="zmdi zmdi-font"></i> -->
						<img src="{{ url_for('static', filename='images/icons/logo2.svg') }}" alt="" height="130px" width="130px">
					</span>

					<!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div> -->

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="new_pass">
						<span class="focus-input100" data-placeholder="Enter New Password"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="conf_new_pass">
						<span class="focus-input100" data-placeholder="Confirm New Password"></span>
					</div>
						<div class="text-center">
							{% with messages=get_flashed_messages() %}
            					{% if messages %}
              						{% for msg in messages %}
                						<p style="color: rgb(255, 125, 125);">{{msg}}</p>
              						{% endfor %}
            					{% endif %}
          					{% endwith %}
						</div>
					<!-- <div class="del text-center" >
						<a href="">Forgot password?</a>
					</div> -->
					<div class="del" style="height: 1rem;">

					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<!-- {% with messages=get_flashed_messages() %}
            					{% if messages %}
              						{% for msg in messages %}
                						<p style="color: rgb(255, 125, 125);">{{msg}}</p>
              						{% endfor %}
            					{% endif %}
          					{% endwith %} -->

							<button class="login100-form-btn">
								Update
							</button>
						</div>
					</div>

					<!-- <div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="/signup">
							<u>Sign Up</u>
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/wahidlogin2.js') }}"></script>


</body>
</html>
