@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue_img: #0071FF;
	--dark-blue_img: #005DD1;
	--grey_img: #f2f2f2;
	--disabled-grey_img: #c4c4c4;
}

.container_img {
	/* max-width: 400px; */
	width: 100%; /* Occupie the full width of the parent if needed */
	background: #fff;
	padding: 30px;
	border-radius: 30px;
	margin: 20px auto; /*Centers the div horizontally and adds spacing */
	display: block; /* Ensures it takes up a block level and pushes content to the next line */
	clear: both; /* Ensures it doesn't sit next to floated elements */
}

.img-area_img {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey_img);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

.img-area_img .icon_img {
	font-size: 100px;
}

.img-area_img h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}

.img-area_img p {
	color: #999;
}

.img-area_img p span {
	font-weight: 600;
}

.img-area_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}

.img-area_img::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}

.img-area_img.active_img:hover::before {
	opacity: 1;
}

.select-image_img {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue_img);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.select-image_img:hover {
	background: var(--dark-blue_img);
}

.select-image_img:disabled {
	background: var(--disabled-grey_img);
	cursor: not-allowed;
}
#file_img {
    display: none; /* Completely hides the file input */
}
