@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    /*bSbackground: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);*/
    /*background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/
    background-color: beige;
    font-family: 'Poppins', sans-serif;

}
form{
    border-radius: 20px;
    margin-top: 50px !important;
    width: 30% !important;
    background-color: white !important;
    padding: 50px;
    box-shadow: 1px 1px 3px;
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);*/
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);


}

.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 1px 4px 0 0;
    }
 h4{
    font-size: 2rem !important;
    font-weight: 700;
 }
 .form-label{
    font-weight: 380 !important;
 }
@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
  }
